body {
	font-family: var(--font-family);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}